
#Forecast{
    
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5pxrgba(0,0,0,0.1);
    border-radius: 5px;
    background-color:#f9f9f9;
}

#Forecast ul{
list-style-type: none;
padding:0;

}

#Forecast ul li{
padding: 10px 0;
border-bottom:1px solid #eee;

}

#Forecast ul li:last-child{
border-bottom:none;

} 