.image-scroller{
    display:flex;
    overflow-x:scroll;
    padding:10px;
}

.image-scroller img {
    margin:10px;
    width:150px;
   height: 150px;
}

.section{
    height:200px;
    border: 1px solid #ccc;
    margin:20px;
    text-align:center;
    padding: 50px;
    background-color: #f9f9f9;
}